.post-template-20 {
    margin:25px;
    display:flex;
    flex-flow:row nowrap;
    background:#222;
    border-radius:5px;
    overflow: hidden;
}

.post-template-20 .post-images {
    position:relative;
    background:var(--custom);
    flex-shrink:0;
    border-radius:5px 0px 0px 5px;
    border-right:10px solid rgb(21, 21, 21);
    z-index:1;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.post-template-20 .post-images .post-image-1 {
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    overflow:hidden;
}
.post-template-20 .post-images .post-image-1 img {
    display:block;
    height: 100%;
    max-width: inherit;
    filter:grayscale(100%) contrast(150%);
    mix-blend-mode: multiply;
    opacity:10%;
}

.post-template-20 .post-images .post-icon {
    display:block;
    position:sticky;
    top:25px;
    margin:25px;
    z-index:1;
}

.post-template-20 .post-images .post-icon img {
    width:50px;
    height:50px;
    border:10px solid rgb(21, 21, 21);
    border-radius:100%;
}

.post-template-20 .post-body {
    margin:50px;
    color: #ccc;
    text-align:justify;
    font: 400 13px/18px roboto, arial, sans-serif;
    position:relative;
}

.post-template-20 .post-body .post-icon {
    float:right;
    background:#2f2f2f;
    padding:5px;
    border:2px solid #3f3f3f;
    border-radius:5px;
    margin-left:10px;
}

.post-template-20 .post-body .post-icon img {
    display:block;
    width:50px;
    height:50px;
    filter:grayscale(100%);
    border-radius:3px;
}

.post-template-20 .post-body b {
    font:700 15px/18px roboto,sans-serif;
    color:var(--custom);
}

.post-template-20 .post-body i {
    font-weight:500;
}

.post-template-20 .post-body span {
    font-weight:500;
    color:var(--custom);
}

.post-template-20 .post-body u {
    border-bottom:2px solid var(--custom);
    text-decoration: none;
    color:#eee;
}

.post-template-20 .post-body:after {
    content: "";
    position: absolute;
    width: 1920px;
    height: 800px;
    background: url(https://i.ibb.co/Hx43c2Z/pnghut-new-york-city-cities-skylines-clip-art-news.png);
    filter: grayscale(100%) contrast(150%) invert(1);
    opacity: 2%;
    bottom: -250px;
    right: -1000px;
    pointer-events: none;
}

.post-template-20 .post-body tagged {
    display:flex;
    justify-content: flex-end;
    gap:10px;
    margin:10px 0;
}

.post-template-20 .post-body tagged a {
    font:800 10px montserrat,sans-serif;
    color:#444;
    text-transform: uppercase;
    transition:.25s;
}

.post-template-20 .post-body tagged a:hover {
    color:var(--custom);
    transition:.25s;
}


.post-template-20 .lyric-2 {
    font:800 30px/100% montserrat,sans-serif;
    color:var(--custom);
    position:relative;
    z-index:1;
    text-transform: uppercase;
    float:right;
    width:75%;
    text-align:right;
    border-radius:5px;
}

.post-template-20 .lyric-1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform:uppercase;
    font:800 10px montserrat,sans-serif;
    color:#222;
    padding:5px;
    border-radius:5px;
    margin:10px;
}

.post-template-19 {
    background: #222;
    margin: 50px;
}

.post-template-19 .post-image-2 {
    position: relative;
    overflow: hidden;
    background: var(--custom);
    max-width: 100%;
    height: 100px;
}

.post-template-19 .post-image-2 img {
    display: block;
    mix-blend-mode: multiply;
    filter: contrast(150%) grayscale(100%) blur(2px);
    opacity: 33%;
    transform: scale(1.2);
}

.post-template-19 .post-image-2 .lyric-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 700 10px montserrat, sans-serif;
    color: #eee;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.post-template-19 .post-icon-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 25px 25px 10px;
}

.post-template-19 .post-icon img {
    width: 50px;
    height: 50px;
    display: block;
    background: #333;
    padding: 5px;
    border: 3px solid #3f3f3f;
    filter: grayscale(1);
    transition: .25s;
}

.post-template-19 .post-body {
    border-left: 3px solid #3f3f3f;
    border-right: 3px solid #3f3f3f;
    margin: 25px;
    padding: 0 25px;
    font: 400 13px/18px roboto, arial, sans-serif;
    color: #ccc;
    text-align: justify;
}

.post-template-19 .post-body b {
    font: 700 14px/18px montserrat, sans-serif;
    color: var(--custom);
}

.post-template-19 .post-body i {
    color: #fff;
    letter-spacing: .25px;
}

.post-template-19 .post-body span {
    color: var(--custom);
    font-weight: 600;
}

.post-template-19 .post-body u {
    text-decoration: none;
    border-bottom: 2px solid var(--custom);
    color: #fff;
}

.post-template-19 .lyric-2 {
    display: flex;
    font: 700 10px montserrat, sans-serif;
    text-transform: uppercase;
    align-items: center;
    padding: 0 15px 25px;
    color: #ccc;
}

.post-template-19 .lyric-2:before,
.post-template-19 .lyric-2:after {
    content: '';
    flex-grow: 1;
    height: 2px;
    background: #3f3f3f;
    margin: 0 10px;
}

.post-template-19 tagged {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% + 56px);
    background: rgb(34, 34, 34);
    margin: 0 -28px -25px -28px;
    padding: 10px 0;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.post-template-19 tagged a {
    padding: 10px;
    font: 700 10px/100% montserrat, sans-serif;
    text-transform: uppercase;
    background: #1c1c1c;
    color: #aaa;
    transition: .33s;
}

.post-template-19 tagged a:hover {
    color: var(--custom);
    transition: .33s;
}

.post-template-18 {
    background: #222;
    margin: 25px;
}

.post-template-18 .post-lyrics {
    background: var(--custom);
    padding: 50px;
    position: relative;
    overflow: hidden;
}

.post-template-18 .post-lyrics .post-image-2 img {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    filter: blur(3px) grayscale(1);
    transform: scale(1.5) scaleX(-1);
    opacity: 25%;
    mix-blend-mode: exclusion;
}

.post-template-18 .lyric-1,
.post-template-18 .lyric-2,
.post-template-18 .post-icon img,
.post-template-18 .post-images .post-image-2 {
    position: relative;
    z-index: 1;
}

.post-template-18 .lyric-1 {
    font: 700 40px poppins, sans-serif;
    text-transform: lowercase;
    color: #222;
    text-align: left;
}

.post-template-18 .lyric-2 {
    font: 700 10px montserrat, sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #eee;
}

.post-template-18 .lyric-2:before {
    content: '';
    flex-grow: 1;
    height: 2px;
    background: #eee;
    opacity: 10%;
    margin-right: 10px;
}


.post-template-18 .post-icon {
    display: flex;
    background: #131313;
    padding: 35px;
    position: relative;
    width: min-content;
    overflow: hidden;
}

/*
.post-template-18 .post-icon:after {
    content: "";
    position: absolute;
    bottom: -410px;
    right: 0px;
    width: 950px;
    height: 1000px;
    background: url(https://i.ibb.co/Hx43c2Z/pnghut-new-york-city-cities-skylines-clip-art-news.png);
    filter: grayscale(100%) contrast(150%) invert(1);
    opacity: 4%;
    pointer-events: none;
}
*/
.post-template-18 .post-icon img {
    display: block;
    width: 50px;
    height: 50px;
    border: 10px solid var(--custom);
    background: #eee;
    padding: 5px;
    position: relative;
    z-index: 1;
}

.post-template-18 .post-images .post-image-2 {
    width: calc(500px - 30px);
    height: 150px;
    overflow: hidden;
}

.post-template-18 .post-images .post-image-2 img {
    height: 150px;
}

.post-template-18 .post-images {
    display: flex;
    background: #111;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.post-template-18 .post-images:after {
    content: "";
    position: absolute;
    bottom: -380px;
    right: 0;
    width: 950px;
    height: 1000px;
    background: url(https://i.ibb.co/Hx43c2Z/pnghut-new-york-city-cities-skylines-clip-art-news.png);
    filter: grayscale(100%) contrast(150%) invert(1);
    opacity: 6%;
    pointer-events: none;
}


.post-template-18 .post-body {
    background: #222;
    font: 400 13px/18px roboto, arial, sans-serif;
    padding: 25px;
    text-align: justify;
    color: #ccc;
    border-left: 5px solid #2f2f2f;
    position: relative;
    overflow: hidden;
}

.post-template-18 .post-body b {
    font: 500 14px/18px poppins, arial, sans-serif;
    color: var(--custom);
}

.post-template-18 .post-body i {
    color: #fff;
}

.post-template-18 .post-body span {
    color: var(--custom);
    font-family: poppins;
}

.post-template-18 .post-body u {
    text-decoration: none;
    max-height: 18px;
    background: var(--custom);
    padding: 1px 5px;
    border-radius: 3px;
    color: #222;
    font-weight: 500;
}

.post-template-18 .post-body tagged {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: flex-end;
    position: absolute;
    bottom: -10px;
    right: -1px;
}

.post-template-18 .post-body tagged a {
    font: 700 20px poppins;
    text-transform: uppercase;
    color: #eee;
    opacity: 10%;
    transition: .25s;
}

.post-template-18 .post-body tagged a:hover {
    opacity: 33%;
    transition: .25s;
}

.post-template-18 .post-body-contain {
    background: #1a1a1a;
    padding: 25px;
}